<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="emails/email_styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            🚨 API Monitoring Alert 🚨
        </div>
        <div class="content">
            <p>The following API has encountered issues:</p>
            <div class="api-info"><strong>🔍 API Name:</strong> {{ apiName }}</div>
            <p>🌐 <strong>URL:</strong> <a href="{{ apiUrl }}">{{ apiUrl }}</a></p>
            <div class="api-info"><strong>🔍 Error :</strong> {{ errorMessage }}</div>
            <h3>📊 Metrics Overview:</h3>
            <table class="metrics">
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>❌ Error Rate</td>
                    <td>{{ error_rates }}%</td>
                </tr>
                <tr>
                    <td>✅ Success Rate</td>
                    <td>{{ success_rates }}%</td>
                </tr>
                <tr>
                    <td>⏱️ Average Latency</td>
                    <td>{{ avg_latency }} ms</td>
                </tr>
                <tr>
                    <td>🚀 Throughput</td>
                    <td>{{ throughput }}</td>
                </tr>
                <tr>
                    <td>📈 Availability</td>
                    <td>{{ availability_uptime }}</td>
                </tr>
            </table>
            <p>🌐 <a href="http://localhost:3000/api-details/{{ APIMonitorId }}">Navigate to Dashboard</a></p>
            <div class="cta">
                📢 <strong>Please take the necessary actions to resolve the issue.</strong>
            </div>
        </div>
    </div>
</body>
</html>
